html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: white solid 1px; */
}

/* nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: ;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
    color: white;
} */

.introduction {
    margin-top: 25vh;
    display: flex;
    justify-content: center;
}

h1 {
    color: white;
    font-size: 50px;
}

ul {
    border: white solid 2px;
    list-style-type: none;
    color: white;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 30px;
    padding-right: 30px;
    padding-left: 30px;
}

li {
    color: #dfdfe2;
    margin: 0.4rem 1rem;
    padding: 0.2rem;
    display: block; 
    list-style-type: none;
    font-size: 25px;
    font-weight: bold;
} 

li:hover {
    background-color: #dfdfe2;
    color: #1b1b32;
    cursor: pointer;
    border-radius: 15px;
}

.style {
    color: inherit;
    text-decoration: none;
}

footer {
    background-color: #020B2E;
    width: 100%;
    left: 0;
    border-radius: 8px;
    height: 13vh;
}

hr {
    color: white;
    width: 75%;
}

footer > p {
    display: block;
    color: white;
    text-align: center;
    bottom: 0;
    margin-bottom: 100vh;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10px;
    gap: 30px;
}

img {
    width: 30px;
    height: auto;
}

.about-div {
    display: flex;
    align-items: center;     
    gap: 70px;                
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.intro {
    color: white;
}

.main-PFP {
    width: 279px;
    border-radius: 20px;
    border: white dashed 4px;
}

h2 {
    font-size: xx-large;
}

.intro-p {
    width: 85vh;
    font-size: 20px;
}
