.form-container {
    text-align: center;
    background-color: #F9E4BC;
    width: 280px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 4px 8px white;
}

h2 {
    font-size: 35px;
    font-family: "Copperplate", "Lucida Console";
}

.inline {
    display: block;
    margin: 5px auto 15px;
}

#message {
    min-width: fit-content;
    max-width: fit-content;
}

input, textarea {
    width: 175px;
    padding: 3.5px;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;

}

button {
    background-color: forestgreen;
    font-size: 15px;
    border-radius: 4px;
    border: none;
    padding: 5px 10px;
    color: aliceblue;
}

button:hover {
    background-color: green;
}

body {
    background-color:rgb(67, 67, 67);

    /* Modern Method to Center a Div! IMPORTANT */
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    height: 100vh;   
}

label {
    margin: auto;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}