.form-container {
    text-align: center;
    background-color: #030D33;
    width: 1000px;
    padding: 10px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px white;
    font-family: "Copperplate", "Lucida Console";
}

body {
    background-color:#010018;

    /* Modern Method to Center a Div! IMPORTANT */
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container  p {
    font-size: 30px;
    color: white;
    width: 400px;
}

.form-container  h2 {
    font-size: 60px;
    color: white;
    display: inline-block;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.double-div {
    display: flex;
    gap: 20px;
}

.info-text-box,
.input-form {
    flex: 1;
}

.info-text-box {
    display:flex;
    justify-content: center;
}

.inline {
    display: block;
    margin: 5px auto 15px;
}

#message {
    min-width: 300px;
    max-width: 10px;
}

.form-container  input, 
.form-container textarea {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;

}

.form-container  button {
    background-color: royalblue;
    font-size: 15px;
    border-radius: 4px;
    border: none;
    margin-top: 10px;
    width: 90px;
    padding: 5px 10px;
    color: white;
}

button:hover {
    background-color: blue;
}

label {
    margin: auto;
    color: white;
    display: inline-block;
    text-align: left;
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 17px;
}

.label-stack {
    display: block;
    text-align: left;
    margin-left: 100px;
}